{{extends "layout/dashboard"}}

{{ block folder(array, isChild) }}
	{{ range _, node := array }}
		<div class="my-2 {{ if isChild && len(node.Children) > 0 }} my-4 {{end}} d-flex flex-column">
			<div
						class="d-flex flex-row"
						data-bs-toggle="collapse"
						data-bs-target="#collapse-{{node.Folder.Id}}"
						aria-expanded="false"
						aria-controls="collapse-{{node.Folder.Id}}"
						style="cursor: pointer;"
						onclick="rotate(this)"
				>
					<span class="mb-2 col-3" id="folder-{{ node.Folder.Id }}-name">{{node.Folder.Name}}</span>
					{{ if node.Folder.Count > 0 }}
						<span class="col-1">{{ node.Folder.Count }} tracks</span>
					{{end}}
					{{ if len(node.Children) > 0 }}
						<i class="col-1 fa fa-chevron-right ms-2 folder_button d-flex justify-content-center align-items-center mb-2"></i>
					{{end}}
					<div class="col-1">
						<i style="cursor: pointer;" onclick='startDeleteFolderModal("{{ node.Folder.Id }}")' class="fa fa-trash me-2"></i>
						<i style="cursor: pointer;" onclick='refreshFolder("{{ node.Folder.Id }}")' class="fa fa-rotate"></i>
					</div>
				</div>
			<div class="{{ if len(node.Children) > 0 }} vl ps-4 {{end}} collapse" id="collapse-{{node.Folder.Id}}">
				{{ yield folder(array=node.Children, isChild=true) }}
			</div>
		</div>
	{{end}}
{{end}}

{{ block dashboardBody() }}
	<div class="row mb-4">
		<div class="col-2">
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newFolderModal">
				<i class="fa fa-plus"></i>
				Add folder
			</button>
		</div>
	</div>
	{{ yield folder(array=folders, isChild=false) }}
	{{ include "partials/modals/deleteFolderModal" }}
	{{ include "partials/modals/newFolderModal" }}
{{end}}

{{block dashboardScripts()}}
	<script>
		const rotate = (e) => {
            const button = e.querySelector('.folder_button');
			if (e.getAttribute('aria-expanded') === 'true') button.classList.add('rotated');
			else button.classList.remove('rotated');
		}

        const startDeleteFolderModal = (folderId) => {
            const folderName = document.querySelector(`#folder-${folderId}-name`).innerText
            document.querySelector('#deleteFolderModalFolderId').value = folderId
            document.querySelector('#deleteFolderModalFolderName').innerText = folderName
            const modal = new bootstrap.Modal(document.querySelector('#deleteFolderModal'))
            modal.show()
        }

        const refreshFolder = (id) => {
            performRequest(`/folder/${id}/sync`, 'POST').then(response => {
                if (response.response.status === 200) {
                    window.location.reload()
                } else {
                    generateToast('Failed to refresh folder', 'danger')
                }
            }).catch(err => {
                console.error(err)
                generateToast('Failed to refresh folder', 'danger')
            })
		}
	</script>
{{end}}
