{{extends "layout/base"}}

{{block title()}} VulTracks {{end}}

{{block body()}}
    <div class="container py-4">
        <div class="row mb-4">
            <div class="col-2">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newTrackModal">
                    <i class="fa fa-plus"></i>
                    Add Track
                </button>
            </div>
        </div>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Actions</th>
                    <th scope="col">ID</th>
                    {{ range _, frame := ID3Frames }}
                        <th scope="col" data-bs-toggle="tooltip" data-bs-placement="top" title="{{frame.Description}}">{{frame.Tag}}</th>
                    {{ end }}
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {{ range _, track := tracks }}
                    {{ if track["hasError"] == "true" }}
                        <tr class="bg-danger">
                    {{ else }}
                        <tr>
                    {{end}}
                        <td>
                            <div class="d-flex flex-row justify-content-around">
                                <i class="fa fa-trash" style="cursor: pointer" onclick='startDeleteTrackModal({{ track["id"] }})' title="Delete"></i>
                                <i class="fa fa-pencil" style="cursor: pointer;" onclick='window.location="/edit-track/{{ track["id"] }}"' title="Edit"></i>
                            </div>
                        </td>
                        <td>{{track["id"]}}</td>
                        {{ range _, frame := ID3Frames }}
                            {{ if frame.Tag == "TIT2" }}
                                <td id='track-{{ track["id"] }}-name'>{{track[frame.Tag]}}</td>
                            {{ else }}
                                <td>{{track[frame.Tag]}}</td>
                            {{ end }}
                        {{ end }}
                    </tr>
                {{ end }}
            </tbody>

        </table>
        {{ if tracksCount <= 0 }}
            <div class="row mt-4">
                <div class="col-12">
                    You have no tracks yet. Click the "Add Track" button to add a new track.
                </div>
            </div>
        {{ end }}
    </div>

    {{ include "partials/newTrackModal" }}
    {{ include "partials/deleteTrackModal" }}
{{end}}

{{block scripts()}}
    <script>
        const startDeleteTrackModal = (trackId) => {
            const trackName = document.querySelector(`#track-${trackId}-name`).innerText
            document.querySelector('#deleteTrackModalTrackId').value = trackId
            document.querySelector('#deleteTrackModalTrackName').innerText = trackName
            const modal = new bootstrap.Modal(document.querySelector('#deleteTrackModal'))
            modal.show()
        }
    </script>
{{end}}
