{{extends "layout/dashboard"}}

{{ block dashboardBody() }}
	<form class="row needs-validation" id="settingsForm" onsubmit="validateSettingsForm(); return false">
		{{ range _, parameter := settings }}
			<div class="col-12 my-2">
				{{ if parameter.Type == "section" && len(parameter.Fields) > 0 }}
					<h2 class="text-capitalize">{{parameter.Name}}</h2>
					<hr/>
				{{else}}
					<label for="settingsForm{{parameter.FullName}}" class="form-label text-capitalize">
						<span>{{parameter.Name}}</span>
						{{ if parameter.CausesRestart }}<i class="text-danger fa fa-warning"></i>{{ end }}
					</label>
					{{ if parameter.Type != "select" }}
						<input type="{{ parameter.Type }}" class="form-control" id="settingsForm{{parameter.FullName}}" value="{{parameter.DefaultValue}}" required>
					{{ else }}
						<select class="form-select" id="settingsForm{{parameter.FullName}}" aria-label="{{ parameter.Name }}" required>
							{{ range _, option := parameter.Choices }}
								<option {{ if option == parameter.DefaultValue }} selected {{end}} class="text-capitalize" value="{{option}}">{{option}}</option>
							{{ end }}
						</select>
					{{ end }}
				{{ end }}
			</div>
		{{ end }}
		<div class="col-12 my-2 d-flex align-items-center">
			<button class="btn btn-primary" type="submit" form="settingsForm">Submit</button>
			<button class="btn btn-primary ms-4" onclick="window.location = '/restart'" >Restart</button>
			<div class="ms-4 spinner-border text-primary visually-hidden" id="settingsSpinner" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</form>
{{end}}

{{block dashboardScripts()}}
	<script>
	    const settingsForm = document.querySelector('#settingsForm')
	    const settingsSpinner = document.querySelector('#settingsSpinner')

	    const validateSettingsForm = () => {
	        if (!settingsForm.checkValidity()) {
	            settingsForm.classList.add('was-validated')
	            return false
	        }
            settingsSpinner.classList.remove('visually-hidden')

			const settings = {}
            for (const element of settingsForm.elements) {
                if (element.id.startsWith('settingsForm')) {
                    settings[element.id.replaceAll('settingsForm', '').toLowerCase()] = element.value
                }
            }

	        performRequest('/settings', 'PUT', settings).then(response => {
                settingsSpinner.classList.add('visually-hidden')
	            if (response.response.status === 200) {
	                generateToast('Settings updated successfully.', 'success')
	                return
	            }
	            generateToast('An error occurred. Please try again later.', 'danger')
	        }).catch(error => {
	            console.error(error)
                settingsSpinner.classList.add('visually-hidden')
	            generateToast('An error occurred. Please try again later.', 'danger')
	        })
	        return false
	    }
	</script>
{{end}}
