{{extends "layout/dashboard"}}

{{ block dashboardBody() }}
     <div class="row mb-4">
         <div class="col-2">
             <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newTrackModal">
                 <i class="fa fa-plus"></i>
                 Add track
             </button>
         </div>
     </div>
    <div class="row">
        {{ if numberPages > 1 }}
            <nav aria-label="Tracks navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link {{ if currentPage > 0 }} cursor-pointer" onclick="changePage('{{0}}')" {{end}} aria-label="Previous">
                            <i aria-hidden="true" class="fa fa-backward-fast"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link {{ if currentPage > 0 }} cursor-pointer" onclick="changePage('{{currentPage-1}}')" {{end}} aria-label="Previous">
                            <i aria-hidden="true" class="fa fa-backward"></i>
                        </a>
                    </li>
                    <li class="page-item active">
                        <span class="page-link">{{currentPage + 1}}</span>
                    </li>
                    <li class="page-item">
                        <a class="page-link {{ if currentPage < numberPages-1 }} cursor-pointer" onclick="changePage('{{currentPage+1}}')" {{end}} aria-label="Next">
                            <i aria-hidden="true" class="fa fa-forward"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link {{ if currentPage < numberPages-1 }} cursor-pointer" onclick="changePage('{{numberPages-1}}')" {{end}} aria-label="Previous">
                            <i aria-hidden="true" class="fa fa-forward-fast"></i>
                        </a>
                    </li>

                </ul>
            </nav>
        {{ end }}
    </div>
    <table class="table table-striped table-hover table-bordered">
         <thead>
             <tr>
                 <th scope="col">Actions</th>
                 <th scope="col" class="cursor-pointer" onclick="changeSort(this, 'id')">
                     <span>ID</span>
                     {{ if sortField == "id" }}
                         <i class="fa fa-sort-{{sortOrder}}"></i>
                     {{ end }}
                 </th>
                 {{ range _, frame := ID3Frames }}
                    <th scope="col" class="cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top" title='{{ heading == "tag" ? frame.Description : frame.Tag }}' onclick="changeSort(this, '{{ frame.Tag }}')">
                        <span>{{ heading == "tag" ? frame.Tag : frame.Description }}</span>
                        {{ if sortField == frame.Tag }}
                            <i class="fa fa-sort-{{sortOrder}}"></i>
                        {{ end }}
                    </th>
                 {{ end }}
             </tr>
         </thead>
         <tbody class="table-group-divider">
             {{ range _, track := tracks }}
                 {{ if track["hasError"] == "true" }}
                     <tr class="bg-danger">
                 {{ else }}
                     <tr>
                 {{end}}
                     <td>
                         <div class="d-flex flex-row justify-content-around">
                             <i class="cursor-pointer fa fa-trash" onclick='startDeleteTrackModal({{ track["id"] }})' title="Delete"></i>
                             <i class="cursor-pointer fa fa-pencil" onclick='window.location="/dashboard/tracks/edit/{{ track["id"] }}"' title="Edit"></i>
                         </div>
                     </td>
                     <td>{{track["id"]}}</td>
                     {{ range _, frame := ID3Frames }}
                         {{ if frame.Tag == "TIT2" }}
                             <td id='track-{{ track["id"] }}-name'>{{track[frame.Tag]}}</td>
                         {{ else }}
                             <td>{{track[frame.Tag]}}</td>
                         {{ end }}
                     {{ end }}
                 </tr>
             {{ end }}
         </tbody>

    </table>
    {{ if tracksCount <= 0 }}
         <div class="row mt-4">
             <div class="col-12">
                 You have no tracks yet. Click the "Add Track" button to add a new track.
             </div>
         </div>
     {{ end }}

    {{ include "partials/modals/newTrackModal" }}
    {{ include "partials/modals/deleteTrackModal" }}
{{end}}

{{block dashboardScripts()}}
    <script>
        const startDeleteTrackModal = (trackId) => {
            const trackName = document.querySelector(`#track-${trackId}-name`).innerText
            document.querySelector('#deleteTrackModalTrackId').value = trackId
            document.querySelector('#deleteTrackModalTrackName').innerText = trackName
            const modal = new bootstrap.Modal(document.querySelector('#deleteTrackModal'))
            modal.show()
        }

        const changePage = (page) => {
            const urlParams = new URLSearchParams(window.location.search)
            urlParams.set('page', page)
            window.location.search = urlParams.toString()
        }

        const changeSort = (el, tag) => {
            const urlParams = new URLSearchParams(window.location.search)
            urlParams.set('sortBy', tag)
            urlParams.set('order', "{{ sortField }}" === tag ? ("{{ sortOrder|upper }}" === 'ASC' ? 'DESC' : 'ASC') : 'ASC')
            window.location.search = urlParams.toString()
        }
    </script>
{{end}}
