<div class="modal fade" id="newFolderModal" tabindex="-1" aria-labelledby="newFolderModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="newFolderModalLabel">Add a new folder</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="row needs-validation" id="newFolderForm" onsubmit="validateForm(); return false">
					<div class="col-12 my-2">
						<label for="newFolderFormFolderPath" class="form-label">Folder Path</label>
						<input type="text" id="newFolderFormFolderPath" class="form-control" aria-labelledby="folderPathHelpBlock" required>
						<div id="folderPathHelpBlock" class="form-text">
							For security reasons, your browser can't get a path from an upload, so you'll have to copy-paste it here.
						</div>
						<div class="invalid-feedback">
							Invalid path.
						</div>
					</div>
					<div class="col-12 my-2 d-flex align-items-center">
						<div class="ms-4 spinner-border text-primary visually-hidden" id="newFolderSpinner" role="status">
							<span class="visually-hidden">Loading...</span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="submit" form="newFolderForm">Add folder</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
    const newFolderForm = document.querySelector('#newFolderForm')
    const spinner = document.querySelector('#newFolderSpinner')

    const validateForm = () => {
        console.log('Validating form...')
        if (!newFolderForm.checkValidity()) {
            newFolderForm.classList.add('was-validated')
            return false
        }
        spinner.classList.remove('visually-hidden')

        performRequest('/folder', 'POST', {
            path: document.querySelector('#newFolderFormFolderPath').value,
        }).then(response => {
            spinner.classList.add('visually-hidden')
            if (response.response.status === 200) {
				window.location.reload()
				return
            }
            if (response.response.status === 409) {
				generateToast('Folder already exists', 'primary')
				return
			}
            if (response.response.status === 404) {
                generateToast('File not found', 'primary')
                return
            }
            if (response.response.status === 400) {
				generateToast('Invalid file', 'primary')
				return
			}
            generateToast('An error occurred. Please try again later.', 'danger')
        }).catch(error => {
            console.log(error)
            spinner.classList.add('visually-hidden')
            generateToast('An error occurred. Please try again later.', 'danger')
        })
        return false
    }
</script>
